.card-container {
    width: 240px;
    height: 384px;
    margin: 20px 30px;
    display: inline-block;
}

.tutor-name {
    margin: 0;
    text-align: left;
}

.tutor-description {
    text-align: left;
}

.price {
    position: absolute;
    right: 20px;
    top: 290px;
    font-style: italic;
}
