.modal-container {
    height: 320px;
    width: 450px;
    
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
}

.label-input {
    margin-top: 50px;
}

.button {
    background-color: #333333 !important;
    color: #a6a6a6 !important;
}

.button:hover {
    background-color: #4d4d4d !important;
}
