@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.header-container {
    display: flex;
    height: 100px;
    background-color: #1f1f1f;
    color: #a6a6a6;
    align-items: center;
    justify-content: space-between;
}

.header-button-container {
    display: flex;
    background-color: inherit;
    align-items: center;
    margin-right: 4rem;
}

div#title {
    margin-left: 3rem;
    font-family: 'Permanent Marker', cursive;
    font-size: 32px;
}

.button {
    background-color: #333333 !important;
    color: #a6a6a6 !important;
    margin-right: 1rem !important;
}

.button:hover {
    background-color: #4d4d4d !important;
}

#login-button {
    padding: 0;
    margin-left: 3rem;
}