.join-container{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 220px;
}

div#join-text {
    width: 40%;
}

img#teacher {
    height: auto;
    width: 400px;
}

#join-button {
    margin: 70px 40%;
}