.main-container{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 220px;
}

div#main-text {
    width: 40%;
}

img#tutor {
    height: auto;
    width: 400px;
}

#tutor-button {
    margin: 70px 40%;

}