@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.main-container>p{
    font-size: 100px;
    text-align: center;
    transform: rotate(-7deg);
    width: 90%;
    padding: 2%;
    font-family: 'Permanent Marker', cursive;
}
